<html>
    <head>
        <meta charset="UTF-8">
        {% if titulo %}
        <title>{{ titulo }} - Blog</title>
        {% else %}
        <title>Blog</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/miEstilo.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='js/validar.js') }}"></script>
    </head>
    <body>
        <div>Blog: 
            <a href="/index">Inicio</a>
            <a href="/login">Iniciar Sesion</a>
        </div>
        <hr>
        {% with mensajes = get_flashed_messages() %}
        {% if mensajes %}
        <ul>
            {% for mensaje in mensajes %}
            <li>{{ mensaje }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block contenido %}
        <!-- Contenido cargar (renderizar) -->

        
        {% endblock %}

        <footer>
            Sitio desarrollado con el framework de Flask
        </footer>
    </body>
</html>