{% extends "base.html" %}

{% block contenido %}

    <center>
        <h1> Búsqueda </h1>
        <img src="{{ url_for('static', filename='img/galeria-imagenes.jpg') }}" alt="Usuario" width="350">
        <table border="0">
            
            <tr>
                <td>
                    <input type="submit" value="Buscar" style="width:80px; height:25px">
                </td>
                <td>
                    <input type="search" name="imag" id="" style="width: 240px; height:25px">
                </td>
                <td>
                    <input type="reset" value="Limpiar" style="width:80px; height:25px">
                </td>
            </tr>
        </table>
                    <Input type="radio" name="TipoImagen" value="Publica" checked >Pública 
                    <input type="radio" name="TipoImagen" value="Privada" >Privada
                    
                
            
        
    </center> 

{% endblock %}