<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Red Social de Imagenes </title>
    <link rel="stylesheet" href="static/css/miEstilo.css" type="text/css">
    <script src="validar.js"></script>
</head>

<body>
    
    <form>    
        
        <center>
        <h1> Red Social de Imagenes </h1>

        <h3> Bienvenido </h3>

        <img src="static/img/fotos3.jpg" alt="Usuario" width="350"> 
        <table  border="0"    >
            
            <tr>
                <th> <center> Eres usuario? </center> </th> 
                <th> <center> No estás registrado? </center></th>
                            
            </tr>

            <tr>
                
                <td> 
                    <form action="/iniciosesion/" >
                    <input type="submit" class="boton" name="InicioSesion" value="Iniciar Sesión" width="150"    /> 
                    </form>
                </td>
                <td> 
                    <form action="/registro/" >
                    <input type="submit" class="boton" name="Registrar" value="Registrar" width="150"   /> 
                    </form>
                </td>
                                 
            </tr>
        
        </table>
        </center>

    </form>
</body>
</html>